@use "../global/" as g;

.p- {
  &downloads {
    &__inner {
      padding: 60px 0;
    }

    &__list {
      &01 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: g.$gray04;
        padding: 20px 30px;
        margin-top: 50px;

        &--item {
          display: grid;
          grid-template-columns: 123px 1fr;
          gap: 7px;
          align-items: center;
        }

        &--text {
          &01 {
            display: flex;
            justify-content: center;
            align-items: center;
            font: 500 1.2rem g.$font-family03;
            line-height: 1;
            color: g.$white01;
            background-color: g.$gray05;
            padding: 6px 2px;
            min-height: 25px;
          }

          &02 {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.6;
            color: g.$black01;
          }
        }
      }
    }
    &__qa {
      &--head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: g.$blue01;
        color: g.$white01;
        padding: 12px 20px;
        border-radius: 3px;
        &.is-active {
          background-color: g.$blue02;
          .p-downloads__qa--icon::after {
            transform: translate(-50%, -50%) rotate(270deg);
          }
        }
        &:not(.is-active) {
          & + .p-downloads__qa--body {
            display: none;
          }
        }
      }
      &--icon {
        position: relative;
        font-size: 0;
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: g.$white01;
        border-radius: 50%;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 17px;
          height: 3px;
          background-color: g.$blue01;
          transition: transform 0.3s ease;
        }
      }
      &--list {
        display: grid;
        gap: 40px;
        margin-top: 32px;
        &02 {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          margin-top: 8px;
        }
        &03 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 4px;
        }
      }
      &--item {
        display: grid;
        gap: 24px;
      }
      &--body {
        display: grid;
        gap: 24px;
      }
      &--box {
        &01 {
          display: grid;
          grid-template-columns: 1fr 271px;
          padding: 14px 19px 15px 18px;
          background-color: #f7f8fa;

          border-width: 2px 1px 1px 2px;
          border-style: solid;
          border-color: #ffffff;
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
          border-radius: 6px;
        }
        &02 {
          padding-right: 10px;
        }
        &03 {
          padding-left: 20px;
          border-left: 2px solid g.$white01;
        }
      }
      &--text {
        &01 {
          position: relative;
          font-weight: 700;
          font-size: 18px;
          line-height: 1.8;
          letter-spacing: 0.02em;
          color: g.$blue01;
        }
        &02 {
          position: relative;
          display: flex;
          align-items: center;
          font-family: g.$font-family02;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.3;
          color: g.$blue01;
          margin-bottom: 9px;

          &::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../imgs/icon-pdf.svg) no-repeat center center /
              contain;
            margin-right: 6px;
          }
          &::after {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url(../imgs/icon-link-02.svg) no-repeat center center /
              contain;
          }
        }
      }
      &--tag {
        position: relative;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.3;
        color: g.$black01;
        padding-left: 10px;
        &::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: g.$blue01;
        }
        &02 {
          font-family: g.$font-family02;
          margin-left: 6px;
        }
      }
    }
  }
}
