@use "../global/" as g;

.l- {
  &footer {
    background: linear-gradient(271.52deg, #001130 0.08%, #003596 99.61%);
    padding-block: 40px;

    // ここにfooterのスタイルを記述
    &__container {
      max-width: 1250px;
      margin-inline: auto;
      padding-inline: 10px;
    }

    &__inner {
      &01 {
        margin-bottom: 70px;
      }

      &02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }

    &__list {
      &02 {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 20px;

        li {
          position: relative;

          &:not(:first-child) {
            padding-left: 27px;

            &::before {
              content: "";
              position: absolute;
              left: 3px;
              top: 6px;
              transform: rotate(25deg);
              width: 1px;
              height: 12px;
              background-color: g.$white01;
            }
          }

          a {
            @extend .l-footer__copyright;
            letter-spacing: 0 !important;
            text-decoration: none;
          }
        }
      }
    }

    &__copyright {
      font-weight: 500;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      color: g.$white01;
    }
  }
}